.text-center {
    font-weight: lighter;
    font-family: "number-five-smooth", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.summer {
    font-weight: bold;
}

.description {
    padding-top: 30px;
    padding-bottom: 30px;
}
.bgCustom{
    background-image: url("/imgs/IMG_6104.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 30px;
}

.carousel-item {
width: 40px;
}

.nav {
    justify-content: center;
    justify-content: top;
    padding-bottom: 30px;
}

.sample {
    width: 40px;
    height: 30px;
}

.carousel-item {
height: fit-content;
width: fit-content;
}

div.container {
    text-align: center;
  }
  
  .list {
    display: inline-block;
    text-align: left;
    padding-top: 50px;
    font-size: x-large;
    font-weight: bold;
  }
  .takeaway {
    font-size: x-large;
    padding-bottom: 20px;
    font-weight: bolder;
  }

  .summary {
    font-weight: bold;
    padding-top: 20px;
    font-size: large;
    color: white;
  }